<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Venous Pluck - A Blood Managment System </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:teal">
        @Html.ActionLink("VenousPluck", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @*<li class="nav-item active">
                        <a class="nav-link" href="#">Donors <span class="sr-only">(current)</span></a>
                    </li>*@

                @* Donors Menu Start *@
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style="color:aliceblue" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Donors
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        @*   <a @Html.ActionLink("VenousPluck", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })>*@

                        <a class="dropdown-item" href="@Url.Action("Create", "Donor")">Create</a><br />
                        <a class="dropdown-item" href="@Url.Action("ListOfDonors", "Donor")"> Donors List </a>
                        @*<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>*@
                    </div>
                </li>

                @* User Menu Start *@
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style="color:aliceblue" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <a class="dropdown-item" href="@Url.Action("Create", "User")">Create </a> <br />
                        <a class="dropdown-item" href="@Url.Action("ListOfUsers", "User")">User List</a>
                        @*<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>*@
                    </div>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="color:aliceblue">Search</button>
            </form>
        </div>
    </nav>
    @*Bootstrap v 4.0 Navbar - End*@

    <br />

    <div class="container-fluid body-content">
        @RenderBody()
        <br />
    </div>

    <div class="footer">
        <h4 align="right"> Blood Managment System </h4>
        <h5 align="right"> Developed by - Sefat Anam </h5>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>